<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/normalize-8.0.1.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <title>{{if .Title}}{{ .Title }} - {{end}}{{.SiteTitle}}</title>
    </head>
    <body>
        <div class="container">
          <div class="nav">
            <div class="nav-left">
              <a href="/" class="nav-title"><img src="/img/icon.png"
                  class="logo" title="{{.RandNote}}" />
                <span class="nav-extra">{{.SiteTitle}}</span></a>
            </div>
            <div class="nav-right">
              {{if .LoggedIn}}Logged in as <a
                    href="/profile">{{.User}}</a> &mdash; <a
                    href="/logout">Logout</a>{{else}}<a href="/login">Login</a>{{end}}
            </div>
          </div>
            {{ template "base/flash" . }}
