/* Page style */
body {
  font-family: "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: #fefefe;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

.check {
  padding: 4px 6px;
  display: block;
  width: 100%;
}

label {
  display: inline-block;
}
a {
  color: inherit;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

pre {
	margin: 0;
  word-wrap: break-word;
}


code {
  width: 100%;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
}

.highlight-line {
	background-color: #fc8383;
	border-radius: 3px;
}

.footer p {
  margin: 5px;
}

.meta p {
  margin: 0 0 5px 15px;
  color: #424242;
  font-weight: lighter;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1.1em;
  }
}

/* Form items */
.btn {
  display: inline-block;
  font-align: center;
  color: #333;
  background-color: #fafafa;
  padding: 3px 5px; 
  border: #ccc 1px solid;
  text-decoration: none;
}

.btn:focus {
  border: #888 1px solid;
}

.btn-danger {
  background-color: #fc4e51;
  color: #fff;
}

textarea, input {
  border-radius: 0;
  border: #ccc 1px solid;
  padding: 4px 6px;
  max-width: 100%;
}

textarea:focus, input:focus {
  border: #888 1px solid;
}

label {
  display: inline-block;
}

.item-title {
  font-weight: bold;
}

.form-item {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.form-group {
  padding-bottom: 10px;
}

/* Report */

.issue-card {
  /*background-color: #dfe1e6;
  max-width: 640px;
  border-radius: 3px;*/
  display: block;
  white-space: normal;
  padding: 8px;
  margin-top: 24px;
}

.code-snippet {
	border-radius: 3px;
	padding: 8px 4px;
}

.suggestion a {
	color: #717b8c;
	font-style: italic;
}

.file-title {
	font-size: 1.5em;
}

.file-title a {
	color: inherit;
	text-decoration: none;
}

.file-title a:hover {
	text-decoration: underline;
}

/* Navigation */
.nav {
  padding: 5px 15px;
  margin-top: 1em;
  margin-bottom: 1.2em;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
  color: #777;
  line-height: 2rem;
}

.nav-title {
  color: #000 !important;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
  text-align: right;
}

.logo {
  height: 18px;
}

/* Alert */
.alert {
  display: block;
  margin: 15px;
  padding: 8px;
  color: #000;
  border-radius: 5px;
}

.alert-title {
  font-weight: bold;
}

.alert-green {
  background-color: #a7f9a7;
}

.alert-grey {
  background-color: #d7d7d7;
}

.alert-yellow {
  background-color: #fcef37;
}

.alert-red {
  background-color: #f9a7b6;
}

.entry {
  padding: 5px 15px;
}

.entry a {
  display: block;
  width: 100%;
  color: #0b47bf;
  font-weight: bold;
  text-decoration: none;
}

.meta a {
  padding: 0;
  margin: 0 0 5px 15px;
  color: #555;
}

.meta p {
  margin: 0;
}

.badge {
  background: #dedede;
  padding: 2px 5px;
  border-radius: 4px;
  color: #3f3f3f;
}

/* Responsive Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-1 {
  flex: 0 0 8.33%;
  width: 8.33%;
}

.col-2 {
  flex: 0 0 16.66%;
  width: 16.66%;
}

.col-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col-4 {
  flex: 0 0 33.33%;
  width: 33.33%;
}

.col-5 {
  flex: 0 0 41.66%;
  width: 41.66%;
}

.col-6 {
  flex: 0 0 50%;
  width: 50%;
}

.col-7 {
  flex: 0 0 58.33%;
  width: 58.33%;
}

.col-8 {
  flex: 0 0 66.66%;
  width: 66.66%;
}

.col-9 {
  flex: 0 0 75%;
  width: 75%;
}

.col-10 {
  flex: 0 0 83.33%;
  width: 83.33%;
}

.col-11 {
  flex: 0 0 91.66%;
  width: 91.66%;
}

.col-12 {
  flex: 0 0 100%;
  width: 100%;
}

[class*="col-"] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 860px) {
  [class*="col-"] {
    width: 100%;
    flex: 0 0 100%;
  }
}

/* Source listing */
.tree {
  border-radius: 3px;
  border: 1px solid #aaa;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
}

.tree div {
    padding: .3rem .5rem;
    border-bottom: 1px solid #ccc;
}

.readme-title {
  padding-top: -0.5rem;
  border-bottom: 1px solid #ccc;
}

.readme {
  margin-top: 20px;
  padding: 1.5rem;
  border-radius: 3px;
  border: 1px solid #aaa;
}
