/* Page style */
body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  margin: 0;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
  min-height: 70vh;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

.check {
  padding: 4px 6px;
  display: block;
  width: 100%;
}

input[type="radio"] {
  margin-right: 0.3rem;
}

textarea, input[type="text"] {
  display: block;
  border-radius: 0;
  border: #ccc 1px solid;
  padding: 4px 6px;
  width: 85%;
}

textarea:focus, input:focus {
  border: #888 1px solid;
}

.form-item {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.form-group {
  padding-bottom: 10px;
}
label {
  display: inline-block;
}
a {
  color: inherit;
}

a:focus {
  background-color: #ffbf47;
  outline: 2.5pt solid #ffbf47;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

pre {
	margin: 0;
}


code {
  width: 100%;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
}

.highlight-line {
	background-color: #fc8383;
	border-radius: 3px;
}

.footer p {
  margin: 5px;
}

.meta p {
  margin: 0 0 5px 15px;
  color: #424242;
  font-weight: lighter;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1.1em;
  }
}

.btn {
  display: inline-block;
  font-align: center;
  color: #fff;
  background-color: #134dae;
  padding: 3px 5px; 
  border: #000727 1px solid;
  text-decoration: none;
}

.btn:focus {
  color: #000;
}

/* Report */

.issue-card {
  /*background-color: #dfe1e6;
  max-width: 640px;
  border-radius: 3px;*/
  display: block;
  white-space: normal;
  padding: 8px;
  margin-top: 24px;
}

.code-snippet {
	border-radius: 3px;
	padding: 8px 4px;
}

.suggestion a {
	color: #717b8c;
	font-style: italic;
}

.file-title {
	font-size: 1.5em;
}

.file-title a {
	color: inherit;
	text-decoration: none;
}

.file-title a:hover {
	text-decoration: underline;
}


/* Navigation bar */
nav {
  overflow: hidden;
  border-bottom: 1px solid #000000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

nav ul li {
  float: left;
}

.nav-right {
  float: right;
  color: #424242;
}

.nav-title {
  font-size: 1.2rem;
}

nav ul li {
  display: block;
  padding: .8em 1em;
}

nav ul li a {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

nav ul li.active a {
  background: #014c8f;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  outline: 0;
  background: #ffbf47;
  color: #000;
}

.alert {
  display: block;
  margin: 15px;
  padding: 8px;
}

.alert-title {
  font-weight: bold;
}

.alert-green {
  background-color: #a7f9a7;
  outline: 1px solid #024702;
}

.alert-grey {
  background-color: #ccc;
  outline: 1px solid #444;
}

.alert-red {
  background-color: #f9a7b6;
  outline: 1px solid #470214;
}

.entry {
  padding: 5px 15px;
}

.entry a {
  display: block;
  width: 100%;
  color: #0b47bf;
  font-weight: bold;
  text-decoration: none;
}

.meta a {
  padding: 0;
  margin: 0 0 5px 15px;
  color: #555;
}

.meta p {
  margin: 0;
}

.badge {
  background: #dedede;
  padding: 2px 5px;
  border-radius: 4px;
  color: #3f3f3f;
}

/* Responsive Layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-1 {
  flex: 0 0 8.33%;
  width: 8.33%;
}

.col-2 {
  flex: 0 0 16.66%;
  width: 16.66%;
}

.col-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col-4 {
  flex: 0 0 33.33%;
  width: 33.33%;
}

.col-5 {
  flex: 0 0 41.66%;
  width: 41.66%;
}

.col-6 {
  flex: 0 0 50%;
  width: 50%;
}

.col-7 {
  flex: 0 0 58.33%;
  width: 58.33%;
}

.col-8 {
  flex: 0 0 66.66%;
  width: 66.66%;
}

.col-9 {
  flex: 0 0 75%;
  width: 75%;
}

.col-10 {
  flex: 0 0 83.33%;
  width: 83.33%;
}

.col-11 {
  flex: 0 0 91.66%;
  width: 91.66%;
}

.col-12 {
  flex: 0 0 100%;
  width: 100%;
}

[class*="col-"] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 860px) {
  [class*="col-"] {
    width: 100%;
    flex: 0 0 100%;
  }
}

/* Source listing */
.tree {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.tree div {
    padding: .1rem .5rem;
    border-bottom: 1px solid #999;
}
