{{template "base/head" .}}
<div class="content">
  <h2>Add a new repository</h2>
  <form method="post">
    <div class="col-5">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required="1" autofocus="1"
        pattern="[\w-]+" title="No whitespace [a-zA-Z-_]+">
      </div>
      <div class="form-group">
        <label for="repo">Git repository URL</label>
        <input type="text" id="repo" name="repo" required="1" placeholder="https://git.sr.ht/~humaid/reviewforge">
      </div>
      <div class="form-group">
        <label for="user">Username (optional)</label>
        <input type="text" id="user" name="user">
      </div>
      <div class="form-group">
        <label for="pass">Password (optional)</label>
        <input type="text" id="pass" name="pass">
      </div>

      <div class="alert alert-grey">
        <p><b>Note</b> If you are cloning from a private GitLab/GitHub
        repository, you may use your personal access token in the place of the
        password.</p>
        <p>The credentials wil not be stored.</p>
      </div>

      <div class="form-group">
        <label for="vis">Visibility</label>
        <div class="check">
          <label>
            <input type="radio" name="vis" checked="1"
              value="private"/> Private
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="vis">Analysis</label>
        <div class="check">
          <label>
            <input type="checkbox" name="analysis-checkstyle" value="check"/>
            Checkstyle
          </label>
        </div>
      </div>
      <input type="hidden" name="_csrf" value="{{.csrf_token}}">
      <button type="submit" class="btn">Clone &rarr;</button>
    </div>

  </form>
</div>
{{template "base/footer" .}}

