{{template "base/head" .}}
<div class="content">
  <h2>{{.Repo.Name}}</h2>
  {{if .IsRoot}}
  <h3>Assigned</h3>
  <p>The following are all files/directories assigned to you.</p>
  {{end}}
  <h3>Tree</h3>
  <div class="tree">
    {{range .Files}}
    <div class="assign"><a href="">A</a></div>
    <div class="mode">{{.Mode}}</div>
    <div class="name"><a href="{{.Name}}">{{.Name}}</a></div>
    <div class="complexity">{{.Complexity}}</div>
    <div class="issues">{{.Issues}}</div>
    <div class="size">{{.Size}}</div>
    {{end}}
  </div>
  <h3>Description <small>(README)</small></h3>
  <div class="readme">
    {{.Readme}}
  </div>
</div>
{{template "base/footer" .}}

