{{template "base/head" .}}
<div class="content">
  <h2><a href="/{{.Repo.RepositoryID}}">{{.Repo.Name}}</a></h2>
  {{if .IsRoot}}
  <p><a href="/{{.Repo.RepositoryID}}/assign" class="btn">New Assignment</a></p>
  <h3>Assigned</h3>
  <p>The following are all files/directories assigned to you.</p>
  {{end}}
  <h3>Tree</h3>
  <div class="tree">
    <div class="assign"></div>
    <div class="name">{{.Path}}</div>
    <div class="complexity">Complexity</div>
    <div class="issues">Issues</div>
    <div class="size">Size</div>
    {{range .Files}}
    <div class="assign">{{if .IsDir}}D{{else}}F{{end}}</div>
    <div class="name"><a href="{{.Name}}">{{.Name}}</a></div>
    <div class="complexity">{{.Complexity}}</div>
    <div class="issues">{{.Issues}}</div>
    <div class="size">{{.Size}}</div>
    {{end}}
  </div>
  {{if .Readme}}
  <div class="readme">
  <h3 class="readme-title">README.md</h3>
    {{.Readme}}
  </div>
  {{end}}
</div>
{{template "base/footer" .}}

